body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#counter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 20px;
    z-index: 1000;
}
